body {
    font-family: Roboto, sans-serif;
    background-color: white;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 32px;
}

.header-logo img {
    height: 80px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.container1 {
    display: flex;
    background-color: #1F2937;
    height: 450px;
    align-items: center;
    justify-content: space-around;
}

.container1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    gap: 16px;
}

.cnt1-maintext {
    color: white;
    font-size: 36px;
    margin: 0;
}

.cnt1-addtext {
    color: white;
    font-size: 18px;
}

.btn {
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 120px;
    height: 40px;
}

.btn:hover {
    background-color: #2563EB;
}

.container1-right {
    height: 350px;
}

.container2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 32px 0;
    height: 450px;
    justify-content: center;
}

.container2 h3 {
    font-size: 24px;
    margin: 0 0 32px 0;
    text-align: center;
}

.cards {
    display: flex;
    gap: 32px;
    padding: 0 32px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    width: 200px;
}

.card-images {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.card p {
    font-size: 16px;
    padding: 16px;
    margin: 0;
}

.container3 {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    align-items: center;
    padding: 32px 0;
    height: 450px;
    justify-content: center;
}

.quote-author {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote {
    font-size: 40px;
    font-style: italic;
    text-align: center;
    max-width: 800px;
    margin: 0 0 32px 0;
    text-align: start;
}

.author {
    font-size: 24px;
    color: #555;
    margin: 0;
}

.container4 {
    display: flex;
    background-color: #3B82F6;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.add-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin-right: 24px;
}

.add-box h4 {
    font-size: 24px;
    margin: 0 0 8px 0;
}

.add-box p {
    font-size: 16px;
    margin: 0;
}

.btn2 {
    background-color: #3B82F6;
    color: white;
    border: 1px solid white;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    height: 40px;
}

.btn2:hover {
    background-color: white;
    color: #3B82F6;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 100px;
}